h1 {
  text-align: center;
  color: pink;
}

.text {
  color: pink;
  width: 50%;
  font-weight: bold;
}

body {
  background-image: url("Images/hanguo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
